.config/argocd
.idea
/.config/github-copilot/
secrets.zsh

# Claude Code/Anthropic files (optional, if you want to keep local settings private)
CLAUDE.local.md
.claude/
.claude.json
CLAUDE.md

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

clouds.yaml
/.config/xnviewmp/
auth.yml
.config/helm/
